extends layout

block content
  canvas#renderCanvas
  div#ammoLabel AMMO : 3
  div#score SCORE : 0
  div#money MONEY : 0
  div#gameover
    p GAME OVER!
    p#playagain PLAY AGAIN!
    p#finalscore SCORE 
