doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babylonjs/2.5.0/babylon.js')
    script(src='javascripts/game.js')
    script(src="javascripts/ship.js")
