doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babylonjs/2.4.1/babylon.js')
    script(src='javascripts/game.js')
  body
    block content
